/target
build.bat
Cargo.lock
config.json
youtube.html
gcloud.json
.gitignore
tts.json
src/comments.rs
proofofconcept.py
youtube.json
shitgpt copy.json
shitgpt.json
whitelist.json
ex.html
src/commands/emulate.rs.old
sam
alerts.json
consent.json
log.txt
src/voice_events/voice_events.rs.old
